* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  background: url('images/myBackground.jpg');
  background-size: cover;
}

h1 {
  color: white;
  font-family: cursive;
  font-size: 4rem;
  padding: 40px;
  text-align: center;
}

h2 {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid white;
  border-radius: 10px;
  color: white;
  font-family: cursive;
  font-size: 2.5rem;
  margin-left: 25%;
  margin-top: 25px;
  text-align: center;
  text-shadow: 0 0 10px rgb(13, 247, 255);
  width: 50%;
}

.solarSystem {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.Mercúrio {
  width: 60px;
}

.Vênus {
  width: 160px;
}

.Terra {
  width: 180px;
}

.Marte {
  width: 110px;
}

.Júpiter {
  width: 400px;
}

.Saturno {
  width: 350px;
}

.Urano {
  width: 200px;
}

.Netuno {
  width: 200px;
}

.planetsNames {
  color: white;
  font-family: cursive;
  font-size: 1.4rem;
  font-weight: 900;
  text-align: center;
}

.planetDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.missionBigDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 25%;
  margin-top: 30px;
  width: 50%;
}

p {
  color: white;
}

.missionSmallDiv {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 30px;
}
